@font-face {
    font-family: 'Gilam';
    src: url('fonts/gilamsemibold.eot');
    src: url('fonts/gilamsemibold.eot') format('embedded-opentype'),
        url('fonts/gilamsemibold.woff2') format('woff2'),
        url('fonts/gilamsemibold.woff') format('woff'),
        url('fonts/gilamsemibold.ttf') format('truetype'),
        url('fonts/gilamsemibold.svg#gilamsemibold') format('svg');
}