@font-face {
    font-family: 'gilamregular';
    src: url('fonts/gilamregular.eot');
    src: url('fonts/gilamregular.eot') format('embedded-opentype'),
        url('fonts/gilamregular.woff2') format('woff2'),
        url('fonts/gilamregular.woff') format('woff'),
        url('fonts/gilamregular.ttf') format('truetype'),
        url('fonts/gilamregular.svg#gilamregular') format('svg');
}