@font-face {
    font-family: 'gilambook';
    src: url('fonts/gilambook.eot');
    src: url('fonts/gilambook.eot') format('embedded-opentype'),
        url('fonts/gilambook.woff2') format('woff2'),
        url('fonts/gilambook.woff') format('woff'),
        url('fonts/gilambook.ttf') format('truetype'),
        url('fonts/gilambook.svg#gilambook') format('svg');
}